<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Weather App</title>
  <link rel="stylesheet" href="./css/styles.css" />
  <link rel='icon' href='/assets/weather.png'>

</head>

<body>
  <div class='main-content'>

    {{>header}}
    <h4>I Love This cute angle below </h4>
    <img src="/assets/shimaa.jpg" class="protrit" alt="profile image" />
  </div>

  {{>footer}}
</body>

</html>